.user-form-container {
  padding: 20px;

  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-back {
      height: 40px;
    }
  }

  .tab-group {
    display: flex;
    gap: 5px;
    margin: 10px 0px;
  }
}

.user-info {
  padding: 20px;

  .detail-item {
    margin: 10px;
    display: flex;
    gap: 20px;

    label {
      width: 100px;
      text-align: right;
    }

    input {
      flex: 1;
      max-width: 500px;
    }
  }
}

.user-permission-container {
  padding: 20px;

  .column-title,
  .permission-item {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    line-height: 1.5;

    &.title {
      font-weight: bold;
      font-size: 24px;
    }

    div {
      border-left: 1px solid black;
    }

    input[type="radio"] {
      width: 20px;
      height: 20px;
    }

    .permission {
      width: 55%;
      padding-left: 10px;
    }

    .grant {
      width: 15%;
      text-align: center;
    }

    .deny {
      width: 15%;
      text-align: center;
    }

    .inherit {
      width: 15%;
      text-align: center;
      border-right: 1px solid black;
    }
  }

  .column-title {
    font-weight: bold;
    text-align: center;

    .permission {
      text-align: left;
    }
  }

  .permission-detail {
    &:last-child {
      border-bottom: 1px solid black;
    }
  }
}
