// Color
$tealblue: #004964;
$gray: #FAFAFA;
$lightgray: #E7E7E7;
$dark: #49454F;
$dark40: rgba(121, 116, 126, 0.4);
$white: #FFFFFF;
$secondaryblue: #136c9e;
$secondaryblue50: rgba(19, 108, 158, 0.5);
$lightyellow: #F9B417;