.reset-password-container {
  padding-left: 20px;

  .reset-password-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .reset-password-button {
    padding-top: 20px;
  }

  .login-link {
    padding-top: 20px;
  }
}